<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_2"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_1"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_4"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_3"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_2"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_6"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_3"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_5"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_8"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_7"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_1"/>
      <class name="com.asurion.qa.TC_Validate_Status_Code"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code_Rule_ID_9"/>
      <class name="com.asurion.qa.TC_Validate_Action_Code"/>
      <class name="com.asurion.qa.TC_Rule_ID"/>
      <class name="com.asurion.qa.TestAPI"/>
      <class name="com.asurion.qa.TC_Validate_Rule_Name"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_8"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_9"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_6"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_7"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_4"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_With_Parameter"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID_5"/>
      <class name="com.asurion.qa.TC_Validate_Rule_ID"/>
      <class name="com.asurion.qa.TC_Validate_Type"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
